<?xml version="1.0"?>
<config>
	<modules>
		<SNH_Bestseller>
		  <version>0.1.0</version>
		</SNH_Bestseller>
	</modules>
	<global>		
		<blocks>
			<bestseller>
				<class>SNH_Bestseller_Block</class>
			</bestseller>
		</blocks>
		<helpers>
			<bestseller>
				<class>SNH_Bestseller_Helper</class>
			</bestseller>			
		</helpers>
		<models>
			<bestseller>
				<class>SNH_Bestseller_Model</class>
			</bestseller>	
			<reports_resource>
				<rewrite>
					<product_collection>SNH_Bestseller_Model_Resource_Product_Collection</product_collection>
				</rewrite>
			</reports_resource>		
		</models>
		<resources>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
	</global>
</config> 